<h2 style="text-align: center;">Top Crypto Headlines of <%= @date %> from Crypto Coin News</h2>

<% @crypto["articles"].each do |article| %>
  <div class="article-wrapper" >
    <a href="<%= article["url"] %>" target="_blank"><%= article["title"] %></a>
    <br>
    <p><span id="description">Description: </span><%= article["description"] %></p>
  </div>
<% end %>

<a href="/" class="button"><i class="fas fa-arrow-left"></i> Back To Homepage</a>
<a href="/more_news" class="button">Browse more news!</a>

