<h2>Want more news eh?</h2>

<p>All you have to do is select a category and we'll get it for you./</p>

<ul>
  <li>Sports</li>
  <li>Tech</li>
  <li>Politics</li>
  <li>Based on my location (Try me!)</li>
</ul>

<!-- JS CODE TO FETCH -->
