<h2>Top Headlines of <%= @date %>, from the Associated Press</h2>

<% @general["articles"].each do |article| %>
  <li>
    <a href="<%= article["url"] %>" target="_blank"><%= article["title"] %></a>
  </li>
  <p><%= article["description"] %></p>
<% end %>

<a href="/">Back To Homepage</a>
<a href="/more_news">Browse more news!</a>
