<% @database.each_with_index do |post, index| %>
  <div class="article-wrapper" >
    <h2><%= post[:title] %></h2>
    <br>
    <p><%= post[:content] %></p>
    <a href="/posts/<%= index + 1 %>">View Post & Comments</a>
  </div>
<% end %>
