<h2>Want more articles eh? How about news?</h2>

<p>All you have to do is select a category and we'll get it for you./</p>


<ul>
  <li><a href="/more_news/sports">Sports</a></li>
  <li><a href="/more_news/tech">Tech</a></li>
  <li><a href="/more_news/crypto">Cryptocurrency</a></li>
  <li><a href="/more_news/general">General</a></li>
  <li><p>Based on my location (Try me!)</p></li>
</ul>

<img src="../public/images/sinatra.png">


<a href="/">Back To Homepage</a>
