<h2 style="text-align: center;">Want more articles, eh ? How about news ?</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h6>All you have to do is select a category and we'll get it for you.</h6>

      <div class="flex-wrap-center">
        <a href="/more_news/sports">
          <div class="news-box">
            <i class="fas fa-futbol"></i>
            <p>Sports</p>
          </div>
        </a>
        <a href="/more_news/tech">
          <div class="news-box">
            <i class="fas fa-desktop"></i>
            <p>Tech</p>
          </div>
        </a>
        <a href="/more_news/crypto">
          <div class="news-box">
            <i class="fab fa-bitcoin"></i>
            <p>Cryptocurrency</p>
          </div>
        </a>
        <a href="/more_news/general">
          <div class="news-box">
            <i class="fas fa-globe-americas"></i>
            <p>General</p>
          </div>
        </a>
        <a href="#">
          <div class="news-box">
            <i class="fas fa-map-marker"></i>
            <p>Based on my location (Try me!)</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<a href="/" class="button"><i class="fas fa-arrow-left"></i> Back To Homepage</a>

