/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+TC');

/* Style */

nav {
  margin-bottom: 20px;
  position: fixed;
}

.navbar li:hover {
  background-color: #ECF0F1;
  color: black;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  font-weight: 500px;
}

h1 {
  text-align: center;
}

.article-wrapper {
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.home-article:hover {
  background-color: #ECF0F1;
}

.comments {

}

.comment-box {
  background: #ECF0F1;
  border: 1px solid black;
  border-radius: 1px;
  height: auto;
  padding: 10px;
  margin: 5px;
}

.comment-box li {
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container a {
  text-decoration: none !important;
  color: inherit;
}

.news-box {
  padding: 40px;
  width: 180px;
  border: 1px solid #dedede;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.news-box i {
  font-size: 27px;
  margin-bottom: auto;
}

.news-box:hover i {
  color: orange;
}

.post-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#description {
  font-style: italic;
}

.button {
  background-color: #ECF0F1;
  color: black;
  height: auto;
  width: auto;
  padding: 5px;
  background-opacity: 0.6;
  margin: 15px;
  margin-bottom: 0px;
}

.button:hover {
  opacity: 1;
  text-decoration: none;
  border: 2px solid black;
}

.button a {
  text-decoration: none;
}

