/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Style */
body {
  line-height: 1.8;
}

nav {
  margin-bottom: 20px;
  position: fixed;
}

.navbar li {
  border-bottom: 4px solid transparent;
  margin-right: 30px;
}

.navbar li:hover,
.navbar li:active {
  border-bottom: 4px solid #484848;
  color: black;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500px;
  letter-spacing: 5px;
}

h1 {
  text-align: center;
}

.article-wrapper {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 0px #000;
  height: auto;
  margin: 30px 25vw 10px 25vw;
  padding: 10px;
  transition: all 0.2s;
}

.home-article:hover {
  background-color: #ECF0F1;
  box-shadow: 3px 3px 5px #484848;
  transform: scale(1.02);
}

.comments {
  background: #ECF0F1;
}

.comment-box {
  border-bottom: 1px dashed black;
  height: auto;
  margin: 5px;
  padding: 10px;
}

.comment-box li {
  display: inline-block;
}

.container {
  align-content: space-around;
  display: grid;
  grid-template-columns: 1fr;
  height: 74vh;
  justify-content: center;
  margin: 0 auto;
}

.grid-wrap-center {
  align-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr repeat(2, 4fr);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  margin: 0 auto;
}

.container a {
  border: 1px solid #dedede;
  color: #a0a0a0;
  color: inherit;
  padding: 40px;
  text-align: center;
  text-decoration: none !important;
}

.news-box i {
  font-size: 27px;
  margin-bottom: auto;
}

.news-box:hover i {
  color: orange;
}

.post-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#description {
  font-style: italic;
}

.button {
  background-color: #FFF;
  border: 2px solid #7E7F80;
  color: #7E7F80;
  height: auto;
  margin: 15px;
  padding: 5px;
  text-decoration: none;
  transition: all 0.2s;
  width: auto;
}

.button:hover,
.button:active {
  border: 2px solid #5B6465;
  color: #5B6465;
  text-decoration: none;
  transform: scale(1.02);
}
@media only screen and (max-width: 992px) {
  .article-wrapper {
    margin: 30px 15vw 10px 15vw;
  }
}  

